<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
  </ol>
</nav>

<form
  action="/adduser"
  class="row g-3 needs-validation"
  method="POST"
  novalidate
>
  {{> user-form}}
</form>